.headerContainer {
    padding: 28px 5% 16px 5%;
}

.linksContainer {
    margin: 0 0 0 auto;
}

.title {
    margin: 0;
    font-family: 'Avenir Next';
    font-weight: 600;
    font-style: italic;
    font-size: 36px;
    text-transform: lowercase;
}

.headerText {
    color: white;
    text-decoration: none;
}

.headerText:hover {
    color: grey;
}

.links {
    font-family: 'Avenir Next';
    font-size: 24px;
    font-weight: 400;
    float: left;
    margin: 12px 0px 0px 34px;
}